APP__APP_NAME=
APP__ENVIRONMENT=
APP__LOG_LEVEL=
APP__CORS_ALLOW_ORIGINS=[]
APP__CORS_ALLOW_METHODS=[]
APP__CORS_ALLOW_HEADERS=[]

X__PROVIDER=
X__BASE_URL=
X__API_KEY=
X__TIMEOUT_SECONDS=
X__MAX_RETRIES=
X__BACKOFF_SECONDS=
COLLECTOR__REQUEST_BATCH_SIZE=
COLLECTOR__RATE_LIMIT_REQUESTS=
COLLECTOR__RATE_LIMIT_PERIOD_SECONDS=
COLLECTOR__POSTS_LIMIT=
COLLECTOR__MAX_POSTS_LIMIT=
